<div class="col-sm-2 text-center">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Locations
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'gallery' %}">All</a>
            </li>
          {% for location in locations%}
            <li class="list-group-item">
                  <a href="{% url 'gallery'%}?location={{location.name}}">
                    {{location.name}}
                  </a>
            </li>
          {% endfor %}

        <a class="btn btn-dark btn-sm m-1" href="{% url 'add' %}" >Add Photo</a>

      </ul>
    </div>
</div>