{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card my-2">
                  <img src="{{photo.image.url}}" class="image-thumbail" alt="Photo">
                  <div class="card-body">
                      <small>Category: {{photo.category.name}}</small>
                  </div>
                <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-smm-1">View</a>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}
