{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card my-2">
                    {% if photo.image %}
                      <img src="{{photo.image.url}}" class="image-thumbail" alt="Photo">
                    {% endif %}
                  <div class="card-body">
                      <small>Category: {{photo.category.name}}</small>
                  </div>
                <div class="text-center m-3">
                     <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark">View</a>
                </div>

            </div>
        </div>
         {% empty %}
                    <h3>Opps... There no Photos here!</h3>

        {% endfor %}
    </div>
{% endblock %}
