{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}
        <div class="container">
            <div class="box">
                {% if photo.image %}
                 <img style="max-width: 100%; max-height: 100%;" src="{{photo.image.url}}" alt="Photo">
                {% endif %}
            </div>
        </div>
        <span class="description">{{photo.description}}</span>
        <div class="text-center">Location: {{photo.location}}</div>
        <div class="text-center mt-3">
            <div class="muted">Posted: {{photo.date_posted |timesince}} Ago</div>
           <a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go Back</a>
        </div>
{% endblock %}