{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="col" style="height: 90vh">
                         <img style="max-width: 100%; max-height: 100%;" src="https://cdn.mos.cms.futurecdn.net/3JU2QkoxH3L4hKqfGFaAJS-970-80.jpg.webp" class="image-thumbail" alt="Photo">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, est quidem! Alias aperiam consectetur deleniti, dicta distinctio dolores ducimus harum incidunt maiores nesciunt officia quia ratione reprehenderit sint, suscipit voluptatum.
                        </p>

                    </div>
                    <a href="{% url 'gallery'%}" class="btn btn-dark my-3">Go Back</a>
                </div>
            </div>
        </div>

{% endblock %}